body {  
background-color: #1f2527;
  font-family: VT323, monospace;
 color: #9fd3e8; 
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1.intro {
  color: #0e496a;
  font-size: 48pt;
  text-align: center;
}

h1.rom {
  color: #0e496a;
  font-size: 48pt;
  text-align: left;
}

table {
  width: 100%;
  font-size: 18px;
}
  
a {color:#dddddd;
  text-decoration: none;
}

p {
  font-size: 14pt;
  }

table, th, td {
  border: 1px solid #9fd3e8;
  }

th {
  cursor: pointer;
  user-select: none;
  background-color: #0e496a;
  color: #1f2527;
  text-align: left;
  padding: 0 12px;
}

tr:nth-child(even){background-color: #364043;}
tr:hover {background-color: #0e496a;}

td {
    padding: 12px;
}
  td:nth-of-type(1) {
  width: 3ch;
}
 td:nth-of-type(2) {
  width: 20ch;
} 
td:nth-of-type(3) {
  width: 7ch;
}
 td:nth-of-type(4) {
  width: 10ch;
}
td:nth-of-type(5) {
  width: 50ch;
}
td:nth-of-type(6) {
  width: 7ch;
}
td:nth-of-type(7) {
  width: 4ch;
}
td:nth-of-type(8) {
  width: 7ch;
} 
  
 .spacecraftTable td:nth-of-type(1) {
  width: 3ch;
}
.spacecraftTable td:nth-of-type(2) {
  width: 4ch;
} 
.spacecraftTable td:nth-of-type(3) {
  width: 10ch;
}
 .spacecraftTable td:nth-of-type(4) {
  width: 4ch;
}
.spacecraftTable td:nth-of-type(5) {
  width: 9ch;
}
.spacecraftTable td:nth-of-type(6) {
  width: 4ch;
}
.spacecraftTable td:nth-of-type(7) {
  width: 10ch;
}
.spacecraftTable td:nth-of-type(8) {
  width: 50ch;
} 
 .spacecraftTable td:nth-of-type(9) {
  width: 12ch;
} 
