
* {
    box-sizing: border-box;
  }
  
  body {
    margin: 7.5%;
    width: 50%;
    max-width: 750px;
    font-family: monospace;
    font-size: 21px;
    background-color: #1f2527;
    background-image: url("/assets/img/galaxy-11139_1280.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
        color: #9fd3e8;
    
  }
  
  h1 {
    font-size: 48px;
    color:#0e496a;
  }
  
  button {
    color:#1f2527;
    border: none;
    border-radius: 25px;
    background-color: #9fd3e8;
    padding: 15px 32px;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    margin: 30px 0;
  }

  button:hover,
  button:focus {
    background-color: #75c3ec;
    /*opacity: .5;*/
    transition-duration: .3s;
  }

  