body {
  background: rgb(31, 37, 39);
  background: linear-gradient(0deg, rgba(31, 37, 39, 1) 46%, rgba(85, 85, 85, 1) 100%);
  min-height: 100vh;
  background-repeat: no-repeat;
  font-family: monospace;
  color: #9fd3e8;
  font-size: 24px
}

h1 {
  color: #4a646c;
  text-align: center;

}

.footer {
  text-align: center;
  color: #4a646c;
}