/* Place your CSS styles in this file */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Standardregler for alle sider */
body {
  margin: 0;
  padding: 0;
  font-family: VT323, monospace;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0; margin-bottom: .7rem;
}

/* fra skjermen er 0px og oppover */
.desktop-only {display: none;}
.mobile-only {display: block;}


/* fra skjermen er 768px og oppover, tablet-size ish */
@media(min-width: 768px) {
  .mobile-only {display: none;}
  .desktop-only {display: block;}
} 

/* Forside */
.hero__background {
  width: 100%;
  height: 200vh;
  overflow: hidden;
  background-image: url("../img/stars-2643089_1920.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: repeat-y;
  animation: scroll;
  animation-duration: 50s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  z-index: 0;
}

/* For PC */

.hero__text {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  color: hsl(197, 61%, 77%);
  background-color: rgba(0, 0, 0, .5);
  padding: 1rem 1rem;
  text-transform: uppercase;
  max-width: 480px;
  height: min-content;
  text-align: center;
  overflow: hidden;
  border-radius: 13px;
  outline: 1px solid white;

}

.hero__backgroundWrapper {
  max-height: 100vh;
  overflow: auto;
}

/* For mobil */

.buttons {
  display: grid;
  grid-template-columns: auto auto;
  font-size: 1rem;
  justify-content: center;
  
    gap: 8px;
}



/* For PC */
@media (min-width: 768px) {

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.25rem;
  justify-content: center;
    gap: 10px;
}

}
.buttons a {
  background-color: hsl(197, 61%, 77%, .5);
  color: white;
  border: 2px solid hsl(197, 61%, 44%);
  text-decoration: none;
  padding: .4rem 2rem;
    border-radius: 15px;
  text-transform: none;
  }

.buttons a:hover {
  background-color: white;
  color: #234;
  transition: 600ms;
}

@keyframes scroll {
  from {
    transform: translateY(-50%);
  }

  to {
    transform: translateY(0);
  }
}

/* Forside-knapper ferdig */

/* Prologside */
.container {
  width: 40%;
  margin: 0 auto;
  font-family: monospace;
  color: #9fd3e8;
  font-size: 20px;
  background-color: rgba(0, 0, 0, .75);
  padding: 1rem 2rem;
  
}

.midt {text-align: center;
  font-size: 48px;
}

.tittel {text-align: center;
}

.background-image {
  position: fixed;
  filter: hue-rotate(180deg);
  mix-blend-mode: color-dodge;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Prologside ferdig */

/* Fjerner filter på bakgrunnsbilde på bonus-side */

.uten {
  filter: none
}

/* Filter av */
