<!DOCTYPE html>
<html lang="nb">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="">
  <title>Virker</title>
  <link rel="stylesheet" href="/assets/css/personkortstil.css">
</head>

<body>
  <h1>Personen har ingen omtale ennå</h1>
  <img src="/assets/img/" alt="AI-generert bilde">
  <p>MaS jobber med saken</p>
  
  <p><a href="/assets/img/stick-figure-gbc9387a25_1280.png">
    Lookalike som levde på 2020-tallet</a></p>

  <h2>Navn på person</h2>
  <h3>Morsomme momenter om mennesket _navn</h3>
  <ol>
    <li>Her kommer hobbyer</li>
    <li>Typisk aktivitet</li>
    <li>Kanskje tidligere verv og karrière?</li>
  </ol>

  <p>Fag, personlige fakta, omtale, sport, hobby, typisk aktivitet</p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
  
  <h6>Signert: MaS</h6>
  
</body>

</html>