<!DOCTYPE html>
<html lang="nb">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="">
  <title>Virker</title>
  <link rel="stylesheet" href="personkortstil.css">
</head>

<body>
  <h1>Personen har ingen omtale ennå</h1>
  <p>MaS jobber med saken</p>
  <h2>Hvorfor det?</h2>
  <p>Det er spennende.</p>
  <ol>
    <li>Her kommer hobbyer</li>
    <li>Typisk aktivitet</li>
    <li>Kanskje tidligere verv og karrière?</li>
  </ol>
  <p><a href="stick-figure-gbc9387a25_1280.png">En lookalike som lever på 2020-tallet</p></a>
  <p>Dette er bare et generelt bilde</p>
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br <div class="footer">
  <h6>Signatur her</h6>
  </div>
</body>

</html>